/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-mar-2016, 21.06.32
    Author     : Daniele  Caschili
*/

/*ORGANIZZAZIONE LAYOUT >1024px*/



#descrizione{
    height:1450px;
    overflow-y: scroll;
    
}

#cliente{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 1200px;
}

/*Gestisce il caso in cui l'altezza della pagina non sia sufficiente a mostrare i campi del form e i button per il login*/
@media only screen and (max-height: 600px){
    #login{
        overflow-y: scroll;
        height: 700px;
    }
}

#venditore{
    height:1200px;
    overflow-y: scroll;
}

body{
    height: 1000px;
    margin:0;
    width:100%;

    /*
    POSSIBILI BACKGROUND:
    Planet_Background
    Planet2_Background
    Planet4_Background
    */
    background-image: url('./Immagini/Textures/Planet4_Background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
    overflow-y: hidden;
}

#page{
    
    height:100%;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: 0.85;
    
    /*Bisogna valutare se mettere l'opacity alla page o a tutti gli elementi interni singolarmente*/
    
}

header{
    position:fixed;
    z-index: 1;
    height: 130px;
    width: 1200px;
        
}

#navigation_sidebar   {
    min-height: 400px;
    position:fixed;
    z-index: 1;
    width:300px;
    top:130px;
    float:left;
    background-image: url('./Immagini/sideBar.png');
    background-repeat: no-repeat;
    
}

#content{
    position:absolute;
    z-index: 0;
    width:900px;
    top:130px;
    margin-left: 300px;
    
    
}

footer{
    position:relative;
    top: 1280px;
    width: 1200px;
    
}









/*DEFINIZIONE STILI*/


/*
STILI GLOBALI
*/
*{
    color: #00e6e6;
    font-family: "neuropolregular", Arial, sans-serif;
    font-size: 13px;
}

ul{
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}

ul li{
    display: block;
    background-image: url('./Immagini/ListItemPictures.png');
    background-position: left;
    background-size: 30px 22px ;
    background-repeat: no-repeat;
    padding-left: 50px;
    color: #00e6e6;
}

h2{
    font-family: "space_ageregular", Arial, sans-serif;
    font-weight: bold;
    font-size: 17pt;
    padding-left: 5px;
    color: #00e6e6;
}

h3{
    font-family: "neuropolregular", Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

a:link, a:visited{
    text-decoration: none;
    color: #00e6e6;    
}

label{
    font-size: 20px;
    
}


/*STILI GLOBALI INPUT*/

.inputBox{
    border: 2px solid #00e6e6;
    border-radius: 2px;
    background-color: black;
    outline: none;
    padding-left: 3px;
    resize: none;
    
    margin-top: 15px;
}

.inputBox:focus{
    animation-name: inputGlowingEffect;
    animation-duration: 0.975s;
    animation-iteration-count: 5;
    animation-direction: alternate;
    box-shadow:-1px 1px 16px #99ddff, 1px -1px 16px #b3ffff;
}

.conferma{
    font-family: "space_ageregular", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    
    padding-left: 5px;
    
    border: black;
    border-radius: 5px;
    border-bottom: 3px solid #00e6e6; 
    border-left: 3px solid #00e6e6;
    
    
    background-color:black;
    
    outline: none;
   
    box-shadow:-1px 1px 12px #99ddff, 1px -1px 12px #b3ffff;
}

.conferma:hover{
    animation-name: hoverTextGlowingEffect;
    animation-duration: 0.5s;
    text-shadow: -1px 1px 8px #33ffff, 1px -1px 8px #99ddff;
    
}

.conferma:active{
    animation-name: buttonActiveEffect;
    animation-duration: 0.1s;
    
    box-shadow:-1px 1px 24px #99ddff, 1px -1px 24px #b3ffff;
   
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}





/*
STILE HEADER
*/

header h1{
    height:100%;
    text-align: center;
    margin:0;
    font-family: "space_ageregular", Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #00e6e6;
    
    animation-name: titleGlowingEffect;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-direction: alternate;
    
        
    background-image: url('./Immagini/bar.png');
    background-size: contain;
    background-repeat: no-repeat;
}








/*
STILE NAVIGATION BAR
*/

#navigation_sidebar li{           
    margin-top: 25px;    
    font-family: "XenotronNormal", Arial, sans-serif;
    font-size: 15px;
    
}

#navigation_sidebar a:hover{
    animation-name: hoverNavigationLink;
    animation-duration: 0.1s;
    
    font-size: 22px;
    text-shadow: -2px 2px 16px #33ffff, 2px -2px 16px #99ddff;
    
}







/*STILE CONTENT PAGINA DESCRIZIONE*/


#descrizioneNav ol{
    list-style-type: upper-roman;
    
    
    margin-top: 35px;
    margin-bottom: 145px;        
}

#descrizioneNav ol li{
    font-size: 18px;
    text-transform: uppercase;
    
}

#descrizioneNav ul li{    
    font-family: "neuropolregular", Arial, sans-serif;
    font-size: 13px;    
}

#descrizioneNav a:hover{
    
    text-shadow: -1px 1px 8px #33ffff, 1px -1px 8px #99ddff;;
}

#prodotti h2, #funzioni h2{
    font-size: 40px;        
    
    background-image: url('./Immagini/BarraTitoli1.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

#prodotti, #funzioni{
    
    padding-right: 10px;
}

#prodotti p, #funzioni p{
    padding-left: 40px;
}
 
#titoloAstronavi:before{
    content: url('./Immagini/FlottaNavi.jpg');
    display:inline;
    border-bottom: 2px solid #00e6e6;
    border-left: 2px solid #00e6e6;
    
    border-bottom-left-radius: 5px;
    float:left;
   
    margin-right: 10px;
    box-shadow: -1px 1px 4px #33ffff, 1px -1px 4px #99ddff;
    animation-name: imageGlowingEffect;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

#paragrafoAstronavi{
    /*Allontana il titolo "RIFORNIMENTI" dall'immagine della flotta*/
    
    margin-top: 10px;    
}

#mappe {
    text-align: center;
    margin-top: 50px;
}

#funzioni{
    margin-top: 80px;
}

#sezione_funz:after{
    
    content: url('./Immagini/Stella3.png');
    float: right;
}

#paragrafoCliente{
    margin-bottom: 35px;
    
}

#sezione_venditore{
    text-align: right;
    
}

#sezione_venditore h3{
    margin-right: 70px;
}

#paragrafoVenditore{
    margin-left: 50px;
    margin-right: 10px;
}






/*STILE CONTENT PAGINA LOGIN*/

#login form{
    margin-left: 50px;
}

#login #content h3{
    font-size: 30px;
    margin-bottom: 70px;
    
    background-image: url('./Immagini/BarraTitoli1.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}



#login #content form label:after, #labelPassword:before {
    content:'\A';
    white-space: pre;
}

#login input{
    
    margin-bottom: 20px;
    
}

#login button{
    position:relative;
    top:100px;
    left:-15px;
}




/*STILE CONTENT PAGINA VENDITORE*/

#venditore label:after, #venditore label:before{
    content:'\a';
    white-space: pre;
}

#venditore h3{
    font-size: 30px;
    margin-bottom: 40px;
    
    
    background-image: url('./Immagini/BarraTitoli1.png');
    background-repeat: no-repeat;
    padding-left: 30px;
}

#venditore textarea{
    height: 130px;
    margin-bottom: 70px;
    overflow-y: hidden;
}

#venditore button{
    position:relative;
    top: 150px;
    left: 10px;
    
    
}

#venditore input{
    margin-bottom: 40px;
    
    
}

#venditore #nome_oggetto{
    margin-bottom: 100px;
}

#venditore #url_immagine{
    width: 350px;
}



#venditore form{
    margin-left: 40px;
}




/*STILE CONTENT PAGINA CLIENTE*/

#cliente #content h2{
    font-size: 40px;
    margin-bottom: 40px;

    background-image: url('./Immagini/BarraTitoli1.png');
    background-size: 500px 40px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

th{
    font-size: 20px;
    text-transform: uppercase;
}

 table, th,  td{
    border-bottom: 3px solid #33ffff;
    
    border-collapse: collapse;
    margin:0px;
}



/*Seleziona i child pari di tipo tr dentro la tabella. Al loro interno seleziona tutti i td*/
table tr:nth-child(even) td{
    border-bottom: 3px solid #66b3ff;
}

/*Seleziona il primo child di tipo tr dentro la tabella. Al suo intero seleziona tutti i th*/
table tr:nth-child(1) th{
    border-right: 2px solid #33ffff;
    padding-bottom: 10px;
    
}

table #vuoto{
    border-right: none;
}

table{
    margin-right: 10px;
}

table img{
    border-bottom: 2px solid #00e6e6;
    border-left: 2px solid #00e6e6;
    
    animation-name: imageGlowingEffect;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: alternate;
    margin: 10px;
    
}

table td:nth-child(1){
    text-transform: uppercase;
    font-size: 13px;
}

table td:nth-child(3){
    text-align: center;
}

table td:nth-child(4){
    padding-right: 2px;
    text-align: right;
    font-size: 12px;
    width: 160px;
}

table td:nth-child(5) label{
    font-size: 15px;
    
    
}

table td:nth-child(5) {
    padding-left: 20px;
}

table a{
    font-size: 12px;
}

table input[type="number"]{
    width: 50px;
}

table .inputBox:focus{
    box-shadow:-1px 1px 16px #99ddff, 1px -1px 16px #b3ffff;
    animation-direction: normal;
    animation-iteration-count: 1;
    
    
}

table a:hover{
    
    text-shadow: -1px 1px 8px #00e6e6, 1px -1px 8px #ccffff;
}

table td:nth-child(5) form{
    padding-bottom: 10px;
}

table img{
    width: 216px;
    height: 135px;
    
}










/*Animazione per bottoni in active*/
@keyframes buttonActiveEffect{
    from{box-shadow:-1px 1px 12px #99ddff, 1px -1px 12px #b3ffff;}
    to{box-shadow:-1px 1px 24px #99ddff, 1px -1px 24px #b3ffff;}
}

/*Animazione per campi di input al focus*/
@keyframes inputGlowingEffect{
    from{box-shadow:none}
    to{box-shadow:-1px 1px 16px #99ddff, 1px -1px 16px #b3ffff;}
}

/*Animazione per le immagini della pagina descrizione*/
@keyframes imageGlowingEffect{
    from{box-shadow: none;}
    to{box-shadow:-1px 1px 8px #1affff, 1px -1px 8px #3333ff;}
}

/*Animazione per il titolo*/
@keyframes titleGlowingEffect{
    from{   text-shadow: none;}
    to{     text-shadow: -1px 1px 25px #1affff, 1px -1px 25px #3333ff;}
}

/*Animazione per testo in hover*/
@keyframes hoverTextGlowingEffect{
    from{   text-shadow: none;}
    to{     text-shadow: -1px 1px 8px #33ffff, 1px -1px 8px #99ddff;}
}
/*Animazione per i link di navigazione*/
@keyframes hoverNavigationLink{
    from{   color: black;
            font-size: 15px;}
    to{     color:aquamarine;
            font-size: 22px;
            text-shadow: -1px 1px 8px #33ffff, 1px -1px 8px #99ddff;}
}


/*Aggiungo i font per il sito*/

@font-face {
    font-family: 'space_ageregular';
    src: url('./Font/SpaceAgeKit/space_age-webfont.eot');
    src: url('./Font/SpaceAgeKit/space_age-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Font/SpaceAgeKit/space_age-webfont.woff2') format('woff2'),
         url('./Font/SpaceAgeKit/space_age-webfont.woff') format('woff'),
         url('./Font/SpaceAgeKit/space_age-webfont.ttf') format('truetype'),
         url('./Font/SpaceAgeKit/space_age-webfont.svg#space_ageregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neuropolregular';
    src: url('./Font/NeuropolKit/neuropol-webfont.eot');
    src: url('./Font/NeuropolKit/neuropol-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Font/NeuropolKit/neuropol-webfont.woff2') format('woff2'),
         url('./Font/NeuropolKit/neuropol-webfont.woff') format('woff'),
         url('./Font/NeuropolKit/neuropol-webfont.ttf') format('truetype'),
         url('./Font/NeuropolKit/neuropol-webfont.svg#neuropolregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

